@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald:200,400|Playfair+Display:400,400i");

* {
    box-sizing: border-box;
    font-family: "Abril Fatface", serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #b2d2c8;
}

header {
    height: 80px;
    background-color: #ffffff;
    padding: 0 60px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 2px 0 20px 0 rgba(0,0,0,0.1);
    z-index: 999;
}

.center-container {
    text-align: center;
}

#services {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 50px;
}

.service {
    background-color: white;
    width: 650px;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
}

.service:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.container {
    display: grid;
    text-align: center;
}

@media screen and (max-width: 700px) {
    header {
        padding: 0 40px 0 20px;
    }

    .container {
        display: grid;
        text-align: center;
    }
}